spring:
  datasource:
    url: jdbc:postgresql://77.222.46.203:5432/Clops
    username: postgres
    password: 12Hiro0016
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.example.userservice: DEBUG